html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }

    #burger.icon {
        background: none;
    }
}

@media (prefers-color-scheme: light) {
    #burger.icon {
        background: #d3d3d3;
    }
}

#buttonRegister {
    margin-top: 1em;
    font-size: 150%;
    width: 100%;
}

#passwordOutput {
    color: rgb(202, 82, 82);
}

/**Settings*/

#buttonContainer {
    width: 80%;
    align-content: center;
    text-align: center;
}

#modeDescriptionContainer {
    width: 80%;
    align-content: center;
    text-align: center;
}

#casualDescription {
    width: 30%;
    margin-left: 3%;
    float: left;
}

#roundTimeDescription {
    width: 30%;
    margin-left: 2%;
    float: left;
}

#totalTimeDescription {
    width: 30%;
    margin-left: 2%;
    float: left;
}

#buttonCasual {
    background: url("../public/Casual.png") center no-repeat;
    background-size: 100% 100%;
}

#buttonRoundTime {
    background: url("../public/RoundTime.png") center no-repeat;
    background-size: 100% 100%;
}

#buttonTotalTime {
    background: url("../public/TotalTime.png") center no-repeat;
    background-size: 100% 100%;
}

/**ProfileBar*/
#searchUser {
    font-size: 150%;
    width: 100%;
    margin-top: 1%;
}

#searchButton {
    position: absolute;
    right: 1%;
    bottom: 1%;
    width: 32px;
    height: 32px;
    background: url("../public/search.png") center no-repeat;
    background-size: 100% 100%;
    border: none;
}

#profileBar {
    float: right;
    width: 24%;
    margin-left: 51%;
    position: relative;
    margin-bottom: 1%;
    bottom: 0;
}

#headContainer {
    width: 80%;
    height: 15em;
    position: relative;
}

#userContainer {
    display: table;
    float: right;
    width: 100%;
    margin-bottom: 1%;
    border: 3px solid #d3d3d3;
    bottom: 0;
}

#userImageContainer {
    padding-top: 2%;
    text-align: center;
    min-width: 17%;
    display: table-cell;
}

#username {
    text-align: center;
    transform: translateY(-35%);
    display: table-cell;
    width: 65%;
}

#logOutButtonContainer {
    width: 20%;
    text-align: center;
    transform: translateY(-35%);
    display: table-cell;
}

#logOutButton {
    margin-right: 10%;
}

#burger {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
    margin-right: 2.5%;
    margin-top: 2.5%;
}

#burger.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#burger:hover {
    background-color: #ddd;
    color: black;
}

#burgerContent {
    display: none;
    position: absolute;
    margin-left: 20%;
    width: 20%;
}

#logOutLink:hover {
    cursor: pointer;
}

#sliderContainer {
    margin-top: 2%;
    width: 80%;
    height: 10%;
}

#sliderRounds {
    margin: 0;
    appearance: none;
    width: 100%;
    height: 0.25em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -moz-transition: .2s;
    transition: opacity .2s;
    margin-top: 2em;
    margin-bottom: 2em;
}

#sliderRounds:hover {
    opacity: 1;
}

#sliderRounds::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 75px;
    height: 75px;
    background: url("../public/helmet.png");
    cursor: pointer;
    border: none;
}

#sliderRounds::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 75px;
    height: 75px;
    background: url("../public/helmet.png");
    cursor: pointer;
    border: none;
}

#outputRounds {
    margin-top: 1%;
    width: 80%;
    text-align: center;
    font-size: 250%;
}

/**Profile*/

#profileHeadContainer {
    /*border: 3px solid #d3d3d3;*/
    margin-left: 3%;
    margin-top: 1.5em;
    width: 62%;
    position: absolute;
}

#profileUsernameContainer {
    position: absolute;
    top: 45%;
    left: 205px;
}

#profileUsername {
    font-size: 400%;
    margin: 0;
    text-align: center;
}

#regInfoContainer {
    position: absolute;
    bottom: 4%;
    left: 210px;
}

#regInfo {
    margin: 0;
}

#deleteButton {
    margin-top: 1.5em;
    font-size: 150%;
    width: 100%;
    color: red;
    border-color: red;
    border-radius: 5px;
}

#profileBodyContainer {
    width: 80%;
}

#descriptionContainer {
    margin-left: 3%;
    margin-top: 1.5%;
    height: 120px;
    width: 56%;
    border: 3px solid #d3d3d3;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

#listValueContainer {
    float: center;
    margin-top: 4%;
}

#profilePictureInput {
    display: none;
}

#profilePictureContainer {
    margin-top: 1%;
    /*margin-left: -69%;*/
}

#profilePictureText {
    color: gray;
    margin-left: 11%;
}

#description {
    resize: none;
    /*font ändern?*/
}

#descriptionLabel {
    border: none;
}

#profileDescriptionContainer {
    height: 85px;
}

#listContainer {
    width: 25%;
    float: right;
    border: 3px solid #d3d3d3;
    margin-top: 4.5%;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#personalDataContainer {
    width: 50%;
    float: left;
}

/**Game*/

#gameContainer {
    width: 80%;
}

#mapContainer {
    float: right;
    width: 60%;

}

#infoContainer {
    float: left;
    width: 38%;
    height: max-content;
}

#gameOverScreen {
    color: yellow;
    text-align: center;
    position: absolute;
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
}

#gameOverMessage {
    font-size: 8vw;
    margin: 0;
}

#averageDistanceOutput {
    font-size: 2vw;
    margin: 0;
}

#preview {
    height: 300px;
    background-repeat: no-repeat;
    /*
    background-image: url('../public/map.png');
    background-size: 500%;
    background-position-x: -400px;
    */
}

#crosshairContainer {
    width: 55%;
    margin-left: 22.5%;
    
}

#homeButton {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1000%;
    background: rgb(255, 200, 0);
    border: 10px solid yellow;
}

#homeButton:hover {
    background: rgb(211, 166, 3);
}

#homeButton:active {
    color: #d3d3d3;
    border-color: rgb(215, 215, 0);
}

/**Home*/
#playButton {
    float: middle;
    height: 40em;
    width: 30%;
    margin: 1%;
    background: url("../public/Selection\ Erangel.jpg") center no-repeat;
    background-size: 100% 100%;
}

#playButtonText {
    color: yellow;
    font-size: 500%;
}

th, td {
    border: 1px solid;
}

#tableContainerLeft {
    float: left;
    width: 30%;
    margin: 1%;
    margin-left: 3%;
}

#tableContainerRight {
    float: right;
    width: 30%;
    margin: 1%;
    margin-right: 3%;
}

#tableHeadRight {
    font-size: 150%;
}