html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#buttonRegister {
  margin-top: 1em;
  font-size: 150%;
  width: 100%;
}

#passwordOutput {
  color: rgb(202, 82, 82);
}

/**Home*/

#buttonContainer {
  width: 80%;
  align-content: center;
  text-align: center;
}

#searchUser {
  font-size: 150%;
  margin-right: 3%;
  margin-left: 67%;
  margin-bottom: 1%;
  width: 30%;
  position: absolute;
  bottom: 0;
}

#headContainer {
  width: 80%;
  height: 15em;
  position: relative;
}

#userContainer {
  display: table;
  float: right;
  width: 24%;
  margin-left: 51%;
  position: relative;
  margin-bottom: 1%;
  border: 3px solid #d3d3d3;
  bottom: 0;
}

#userImageContainer {
  padding-top: 2%;
  text-align: center;
  min-width: 17%;
  display: table-cell;
}

#username {
  text-align: center;
  transform: translateY(-35%);
  display: table-cell;
}

#logOutButtonContainer {
  width: 20%;
  text-align: center;
  transform: translateY(-35%);
  display: table-cell;
}

#logOutButton {
  margin-right: 10%;
}

#sliderContainer {
  margin-top: 2%;
  width: 80%;
  height: 10%;
}

#sliderRounds {
  margin: 0;
  appearance: none;
  width: 100%;
  height: 0.25em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -moz-transition: .2s;
  transition: opacity .2s;
  margin-top: 2em;
  margin-bottom: 2em;
}

#sliderRounds:hover {
  opacity: 1;
}

#sliderRounds::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 75px;
  height: 75px;
  background: url('../public/helmet.png');
  cursor: pointer;
  border: none;
}

#sliderRounds::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 75px;
  height: 75px;
  background: url('../public/helmet.png');
  cursor: pointer;
  border: none;
}

#outputRounds {
  margin-top: 1%;
  width: 80%;
  text-align: center;
  font-size: 250%;
}

/**Profile*/

#profileHeadContainer {
  /*border: 3px solid #d3d3d3;*/
  margin-left: 3%;
  margin-top: 1.5em;
  width: 62%;
  position: absolute;
}

#profileUsernameContainer {
  position: absolute;
  top: 45%;
  left: 205px;
}

#profileUsername {
  font-size: 400%;
  margin: 0;
}

#regInfoContainer {
  position: absolute;
  bottom: 4%;
  left: 210px;
}

#regInfo {
  margin: 0;
}

#deleteButton {
  position: absolute;
  bottom: 4%;
  right: 10%;
}

#profileBodyContainer {
  width: 80%;
}

#descriptionContainer {
  margin-left: 3%;
  margin-top: 1.5%;
  height:120px;
  width:56%;
  border:3px solid #d3d3d3;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

#listContainer {
  width: 25%;
  margin-left: 3%;
  margin-top: 4%;
  float: left;
}

#listValueContainer {
  float: center;
  margin-top: 4%;
}

/**Game*/

#gameContainer {
  width: 80%;
}

#mapContainer {
  float: right;
  width: 60%;
  
}

#infoContainer {
  float: left;
  width: 38%;
  height: max-content;
}
